.input-set {
    display: grid;
}

.invalid-message {
    display: none;
}

.invalid-message.invalid {
    display: flex;
}

.invalid-icon {
    width: 20px;
}

input:invalid {
    background-color: rgba(255, 0, 0, 0.281);
}

input:valid {
    background-color: white;
}